---
layout: default
title: Ember Dumps
---

<div id='container'>
  <ul class="ember-dumps">
    {% for dump in site.data.dumps %}
    <li class='ember-dump'>
      <div class='screencast'>
        {{ dump.embed }}
      </div>

      <h2>{{ dump.title }}</h2>

      <div class='details'>
        <p class='description'>
          {{ dump.description }}
        </p>

        {% if dump.duration %}
        <p class='duration'>
         Duration: {{ dump.duration }}
        </p>
        {% endif %}

        {% if dump.duration %}
          <p class='date'>
          Date: {{ dump.date | date_to_string}}
          </p>
        {% endif %}

        {% if dump.ember_version %}
        <p class='ember-version'>
          Ember version: {{dump.ember_version}}
        </p>
        {% endif %}

        <p class='author'>
          Author: <a href='{{dump.link}}'>{{ dump.author}}</a>
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
