<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Maven+Pro' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
      {% include head.html %}

      {{ content }}

      {% include head.html %}
    </body>
</html>
